*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13vh;
    background-color: rgba(11, 122, 11, 0.589);

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;


        .bar{
            display: none;
        }

        .logo{
            cursor: pointer;
            h1{
                font-size: 28px;
                color: white;
            }
        }

        nav{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                li{
                    list-style: none;

                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}



@media screen and (max-width:576px) {

    .header{
        .container{
            nav{
                display: none;
            }

            .bar{
                display: block;
                color: white;
            }
        }
    }
    
}